<h2>My First Angular Application </h2>
<!-- <button class="btn btn-success">Send</button>
<input type="text" class="form-control w-25"> -->

<!-- <app-employee></app-employee> -->
<!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent1></app-parent1> -->

<!-- <div class="container">
    <input #inputDate type="date" >
    <button (click)="onSend(inputDate.value)" class="btn btn-success">Send</button>
</div> -->

<!-- <app-parent2 [appCompDateSend]="sendDate" ></app-parent2> -->

<!-- <app-parent3></app-parent3> -->
 <!-- <app-inbuiltpipe></app-inbuiltpipe> -->
<!-- <app-custompipe></app-custompipe> -->
<!-- <app-post></app-post> -->
<router-outlet></router-outlet>